body{
    background-color: rgb(20, 20, 20);
    height: 100vh;
    margin: 0px;
    text-align: center;
}

body:hover > #trailer{
    opacity: 1;
}

#trailer{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    position: fixed;
    left: 0x;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: .5;
    transition: opacity 500ms ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: clamp(10px, 4vw, 100px);
}

.card1{
    background: url(/lion.jpg) center center / cover;
    background-size: 100%;
    width: 380px;
    height: 700px;
    transition: 500ms ease;
}

.card2{
    background: url(/planet.jpg) center center / cover;
    background-size: 100%;
    width: 380px;
    height: 700px;
    transition: 500ms linear;
}


.card1:hover,   .card2:hover{
    background-size: 105%;
    opacity: .5;
    
}

